body {
    font-family: 'Dancing Script', cursive;

    background-color: #ffd8f3;
    color: #ffffff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ff77cb49;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.contenido {
    display: flex;
    justify-content: space-between;
}

.productos-lista {
    width: 60%;
    margin-right: 20px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.producto {
    background-color: #e1bee7;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto button {
    background-color: #d86792;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #ba68c8;
}

.carrito {
    width: 35%;
    background-color: #e1bee7;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffd8f3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d86792;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ba68c8;
}

#total {
    font-weight: bold;
}

.hidden {
    display: none;
}
